@font-face {
    font-family: 'thasup';
    src: url('/fonts/JuxtaSansMono-Bold.woff2') format('woff2')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    background-color: #49145A;
    outline-style: hidden;

}

body {
    font-family: 'thasup', sans-serif;
    color: #F8EBF2;
}

.header {
    position: fixed;
    top: 0;
    padding: 20px 0;
    background-color: #2b0d36;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-message{
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
    font-size: 24px;
}

.hide{
    display: none !important;
}

.footer-container {
    background-color: #2b0d36;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    z-index: 1;
}

.icon {
    height: 30px;
}

.icon:hover {
    cursor: pointer;
}

canvas {
    display: block
}

#container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.container-iframe {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}

